body{
  background-color: black;
  color: white;
}

.Page{
  display: grid;
  grid-template-rows: minmax(100px, 2fr) minmax(50px, 1fr) minmax(500px, 10fr) minmax(50px, 1fr);
  grid-template-columns: minmax(1920px, 1fr);
}

.App-footer{
  padding-left: 40%;
  padding-right: 40%;
  justify-self: center;
}
